In [1]:
import os
os.chdir('../')

import transtab

# set random seed
transtab.random_seed(42)

In [2]:
# load multiple datasets by passing a list of data names
allset, trainset, valset, testset, cat_cols, num_cols, bin_cols \
    = transtab.load_data(['credit-g','credit-approval'])

# build transtab classifier model
model = transtab.build_classifier(cat_cols, num_cols, bin_cols)

# specify training arguments, take validation loss for early stopping
training_arguments = {
    'num_epoch':50,
    'batch_size':128,
    'lr':1e-4,
    'eval_metric':'val_loss',
    'eval_less_is_better':True,
    'output_dir':'./checkpoint'
    }

########################################
openml data index: 31
load data from credit-g
# data: 1000, # feat: 20, # cate: 11,  # bin: 2, # numerical: 7, pos rate: 0.70
########################################
openml data index: 29
load data from credit-approval
# data: 690, # feat: 15, # cate: 9,  # bin: 0, # numerical: 6, pos rate: 0.56

In [3]:
trainset[0][0]

,own_telephone,foreign_worker,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job
636,0,1,0.294118,0.061957,1.000000,0.000000,0.160714,0.000000,0.0,no checking,existing paid,radio/tv,500<=X<1000,4<=X<7,female div/dep/mar,none,car,none,own,skilled
182,0,1,0.250000,0.076868,1.000000,0.333333,0.375000,0.333333,1.0,<0,all paid,new car,no known savings,1<=X<4,male single,none,life insurance,none,own,unskilled resident
736,0,1,0.294118,0.622318,0.000000,1.000000,0.071429,0.333333,0.0,0<=X<200,existing paid,used car,<100,1<=X<4,female div/dep/mar,none,car,none,rent,high qualif/self emp/mgmt
922,0,1,0.073529,0.061406,0.666667,1.000000,0.053571,0.000000,0.0,<0,existing paid,radio/tv,<100,<1,female div/dep/mar,none,life insurance,none,rent,skilled
511,1,1,0.470588,0.244085,0.333333,0.333333,0.232143,0.000000,0.0,no checking,existing paid,used car,<100,1<=X<4,male single,none,no known property,none,for free,high qualif/self emp/mgmt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,1,1,0.250000,0.205018,0.333333,0.666667,0.285714,0.000000,0.0,0<=X<200,existing paid,furniture/equipment,no known savings,4<=X<7,male single,none,car,none,own,skilled
492,0,1,0.029412,0.054308,0.000000,0.000000,0.142857,0.333333,0.0,no checking,critical/other existing credit,radio/tv,100<=X<500,1<=X<4,female div/dep/mar,none,life insurance,none,own,skilled
849,0,1,0.117647,0.025256,1.000000,1.000000,0.678571,0.000000,0.0,<0,existing paid,radio/tv,<100,>=7,male single,none,real estate,stores,own,unskilled resident
297,0,0,0.088235,0.057060,1.000000,0.333333,0.464286,0.000000,0.0,no checking,existing paid,new car,no known savings,>=7,male single,co applicant,life insurance,none,own,unskilled resident
98,0,1,0.470588,0.114834,1.000000,1.000000,0.303571,0.000000,0.0,0<=X<200,critical/other existing credit,radio/tv,<100,>=7,male single,none,real estate,none,own,skilled

In [4]:
valset[0][0]

,own_telephone,foreign_worker,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job
32,1,1,0.205882,0.309013,0.333333,0.333333,0.196429,0.333333,0.0,0<=X<200,existing paid,new car,100<=X<500,1<=X<4,male single,none,car,none,own,skilled
924,1,1,0.294118,0.364367,0.333333,0.000000,0.642857,0.000000,0.0,<0,all paid,furniture/equipment,<100,<1,male div/sep,none,life insurance,bank,own,skilled
931,1,1,0.073529,0.078134,1.000000,0.333333,0.053571,0.000000,0.0,0<=X<200,existing paid,radio/tv,<100,<1,female div/dep/mar,none,car,none,own,skilled
796,1,1,0.205882,0.399527,0.000000,1.000000,0.571429,0.000000,1.0,<0,existing paid,used car,no known savings,>=7,male single,none,life insurance,none,for free,skilled
226,1,1,0.647059,0.589358,0.000000,0.333333,0.142857,0.333333,0.0,0<=X<200,existing paid,radio/tv,>=1000,4<=X<7,male single,co applicant,no known property,bank,own,skilled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,1,1,0.235294,0.107956,1.000000,1.000000,0.357143,0.000000,0.0,<0,existing paid,furniture/equipment,no known savings,4<=X<7,male single,none,car,none,own,skilled
768,1,1,0.117647,0.185265,0.000000,1.000000,0.160714,0.666667,0.0,0<=X<200,critical/other existing credit,furniture/equipment,<100,>=7,male single,none,car,none,rent,skilled
85,1,1,0.117647,0.063937,1.000000,0.333333,0.178571,0.333333,0.0,no checking,critical/other existing credit,business,<100,1<=X<4,female div/dep/mar,guarantor,real estate,none,own,high qualif/self emp/mgmt
527,0,1,0.000000,0.068945,0.333333,0.000000,0.410714,0.333333,1.0,no checking,critical/other existing credit,radio/tv,<100,4<=X<7,male single,none,real estate,none,own,unskilled resident
117,0,0,0.088235,0.103555,0.333333,0.666667,0.142857,0.333333,0.0,<0,critical/other existing credit,furniture/equipment,no known savings,<1,female div/dep/mar,co applicant,real estate,none,rent,skilled

In [5]:
# start training, take the validation loss on average for evaluation
transtab.train(model, trainset, valset, **training_arguments)

Epoch:   0%|          | 0/50 [00:00<?, ?it/s]

epoch: 0, test val_loss: 0.624792
epoch: 0, train loss: 6.6127, lr: 0.000100, spent: 0.5 secs
epoch: 1, test val_loss: 0.599838
epoch: 1, train loss: 6.3586, lr: 0.000100, spent: 1.2 secs
epoch: 2, test val_loss: 0.593658
epoch: 2, train loss: 6.0999, lr: 0.000100, spent: 1.8 secs
epoch: 3, test val_loss: 0.550265
epoch: 3, train loss: 5.8295, lr: 0.000100, spent: 2.3 secs
epoch: 4, test val_loss: 0.527351
epoch: 4, train loss: 5.6347, lr: 0.000100, spent: 2.8 secs
epoch: 5, test val_loss: 0.508950
epoch: 5, train loss: 5.5123, lr: 0.000100, spent: 3.3 secs
epoch: 6, test val_loss: 0.485854
epoch: 6, train loss: 5.4929, lr: 0.000100, spent: 3.9 secs
epoch: 7, test val_loss: 0.522198
EarlyStopping counter: 1 out of 5
epoch: 7, train loss: 5.6552, lr: 0.000100, spent: 4.3 secs
epoch: 8, test val_loss: 0.478467
epoch: 8, train loss: 5.7420, lr: 0.000100, spent: 4.7 secs
epoch: 9, test val_loss: 0.515104
EarlyStopping counter: 1 out of 5
epoch: 9, train loss: 5.3993, lr: 0.000100, spent: 5.3 secs
epoch: 10, test val_loss: 0.474058
epoch: 10, train loss: 5.3141, lr: 0.000100, spent: 5.8 secs
epoch: 11, test val_loss: 0.473926
epoch: 11, train loss: 5.2754, lr: 0.000100, spent: 6.3 secs
epoch: 12, test val_loss: 0.470752
epoch: 12, train loss: 5.1095, lr: 0.000100, spent: 6.8 secs
epoch: 13, test val_loss: 0.478428
EarlyStopping counter: 1 out of 5
epoch: 13, train loss: 5.0845, lr: 0.000100, spent: 7.3 secs
epoch: 14, test val_loss: 0.454532
epoch: 14, train loss: 5.1003, lr: 0.000100, spent: 8.0 secs
epoch: 15, test val_loss: 0.462518
EarlyStopping counter: 1 out of 5
epoch: 15, train loss: 5.0139, lr: 0.000100, spent: 8.5 secs
epoch: 16, test val_loss: 0.453442
epoch: 16, train loss: 4.9912, lr: 0.000100, spent: 9.1 secs
epoch: 17, test val_loss: 0.459327
EarlyStopping counter: 1 out of 5
epoch: 17, train loss: 4.9310, lr: 0.000100, spent: 9.5 secs
epoch: 18, test val_loss: 0.442287
epoch: 18, train loss: 4.8740, lr: 0.000100, spent: 10.2 secs
epoch: 19, test val_loss: 0.466330
EarlyStopping counter: 1 out of 5
epoch: 19, train loss: 4.8456, lr: 0.000100, spent: 10.8 secs
epoch: 20, test val_loss: 0.436802
epoch: 20, train loss: 4.7808, lr: 0.000100, spent: 11.2 secs
epoch: 21, test val_loss: 0.472410
EarlyStopping counter: 1 out of 5
epoch: 21, train loss: 4.7860, lr: 0.000100, spent: 11.6 secs
epoch: 22, test val_loss: 0.448208
EarlyStopping counter: 2 out of 5
epoch: 22, train loss: 4.9795, lr: 0.000100, spent: 12.2 secs
epoch: 23, test val_loss: 0.426601
epoch: 23, train loss: 4.8747, lr: 0.000100, spent: 12.8 secs
epoch: 24, test val_loss: 0.556543
EarlyStopping counter: 1 out of 5
epoch: 24, train loss: 4.9586, lr: 0.000100, spent: 13.2 secs
epoch: 25, test val_loss: 0.455203
EarlyStopping counter: 2 out of 5
epoch: 25, train loss: 4.9627, lr: 0.000100, spent: 13.8 secs
epoch: 26, test val_loss: 0.581238
EarlyStopping counter: 3 out of 5
epoch: 26, train loss: 5.0275, lr: 0.000100, spent: 14.2 secs
epoch: 27, test val_loss: 0.501105
EarlyStopping counter: 4 out of 5
epoch: 27, train loss: 5.2915, lr: 0.000100, spent: 14.7 secs

2022-08-31 10:57:39.041 | INFO     | transtab.trainer:train:132 - load best at last from ./checkpoint
2022-08-31 10:57:39.057 | INFO     | transtab.trainer:save_model:239 - saving model checkpoint to ./checkpoint
2022-08-31 10:57:39.187 | INFO     | transtab.trainer:train:137 - training complete, cost 15.3 secs.

epoch: 28, test val_loss: 0.461543
EarlyStopping counter: 5 out of 5
early stopped

In [6]:
# make predictions on the first dataset 'credit-g'
x_test, y_test = testset[0]
ypred = transtab.predict(model, x_test)

In [7]:
# evaluate the predictions with bootstrapping estimate
transtab.evaluate(ypred, y_test, seed=123, metric='auc')

auc 0.95 mean/interval 0.7399(0.06)

[0.7399011920073604]