In [3]:
import os
os.chdir('../')

import transtab

# set random seed
transtab.random_seed(42)

/root/anaconda3/envs/transtab/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
# load multiple datasets by passing a list of data names
allset, trainset, valset, testset, cat_cols, num_cols, bin_cols \
    = transtab.load_data(['credit-g','credit-approval'])

# build transtab classifier model
model = transtab.build_classifier(cat_cols, num_cols, bin_cols)

# specify training arguments, take validation loss for early stopping
training_arguments = {
    'num_epoch':50,
    'batch_size':128,
    'lr':1e-4,
    'eval_metric':'val_loss',
    'eval_less_is_better':True,
    'output_dir':'./checkpoint'
    }

########################################

/root/transtab/transtab/transtab/dataset.py:159: FutureWarning: Starting from Version 0.15 `download_data`, `download_qualities`, and `download_features_meta_data` will all be ``False`` instead of ``True`` by default to enable lazy loading. To disable this message until version 0.15 explicitly set `download_data`, `download_qualities`, and `download_features_meta_data` to a bool while calling `get_dataset`.
  dataset = openml.datasets.get_dataset(dataname)

openml data index: 31
load data from credit-g
# data: 1000, # feat: 20, # cate: 11,  # bin: 2, # numerical: 7, pos rate: 0.70
########################################

/root/transtab/transtab/transtab/dataset.py:192: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in num_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/root/transtab/transtab/transtab/dataset.py:192: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in num_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/root/transtab/transtab/transtab/dataset.py:192: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in num_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/root/transtab/transtab/transtab/dataset.py:192: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in num_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/root/transtab/transtab/transtab/dataset.py:192: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in num_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/root/transtab/transtab/transtab/dataset.py:192: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in num_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/root/transtab/transtab/transtab/dataset.py:196: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in cat_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/root/transtab/transtab/transtab/dataset.py:204: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in bin_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/root/transtab/transtab/transtab/dataset.py:208: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  X[bin_cols] = X[bin_cols].astype(str).applymap(lambda x: 1 if x.lower() in ['yes','true','1','t'] else 0).values
/root/transtab/transtab/transtab/dataset.py:159: FutureWarning: Starting from Version 0.15 `download_data`, `download_qualities`, and `download_features_meta_data` will all be ``False`` instead of ``True`` by default to enable lazy loading. To disable this message until version 0.15 explicitly set `download_data`, `download_qualities`, and `download_features_meta_data` to a bool while calling `get_dataset`.
  dataset = openml.datasets.get_dataset(dataname)

openml data index: 29
load data from credit-approval
# data: 690, # feat: 15, # cate: 9,  # bin: 0, # numerical: 6, pos rate: 0.56

/root/transtab/transtab/transtab/dataset.py:192: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in num_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/root/transtab/transtab/transtab/dataset.py:196: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in cat_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/root/anaconda3/envs/transtab/lib/python3.9/site-packages/torch/nn/modules/transformer.py:306: UserWarning: enable_nested_tensor is True, but self.use_nested_tensor is False because encoder_layer was not TransformerEncoderLayer
  warnings.warn(f"enable_nested_tensor is True, but self.use_nested_tensor is False because {why_not_sparsity_fast_path}")

In [4]:
trainset[0][0]

,own_telephone,foreign_worker,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job
636,0,1,0.294118,0.061957,1.000000,0.000000,0.160714,0.000000,0.0,no checking,existing paid,radio/tv,500<=X<1000,4<=X<7,female div/dep/mar,none,car,none,own,skilled
182,0,1,0.250000,0.076868,1.000000,0.333333,0.375000,0.333333,1.0,<0,all paid,new car,no known savings,1<=X<4,male single,none,life insurance,none,own,unskilled resident
736,0,1,0.294118,0.622318,0.000000,1.000000,0.071429,0.333333,0.0,0<=X<200,existing paid,used car,<100,1<=X<4,female div/dep/mar,none,car,none,rent,high qualif/self emp/mgmt
922,0,1,0.073529,0.061406,0.666667,1.000000,0.053571,0.000000,0.0,<0,existing paid,radio/tv,<100,<1,female div/dep/mar,none,life insurance,none,rent,skilled
511,1,1,0.470588,0.244085,0.333333,0.333333,0.232143,0.000000,0.0,no checking,existing paid,used car,<100,1<=X<4,male single,none,no known property,none,for free,high qualif/self emp/mgmt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,1,1,0.250000,0.205018,0.333333,0.666667,0.285714,0.000000,0.0,0<=X<200,existing paid,furniture/equipment,no known savings,4<=X<7,male single,none,car,none,own,skilled
492,0,1,0.029412,0.054308,0.000000,0.000000,0.142857,0.333333,0.0,no checking,critical/other existing credit,radio/tv,100<=X<500,1<=X<4,female div/dep/mar,none,life insurance,none,own,skilled
849,0,1,0.117647,0.025256,1.000000,1.000000,0.678571,0.000000,0.0,<0,existing paid,radio/tv,<100,>=7,male single,none,real estate,stores,own,unskilled resident
297,0,0,0.088235,0.057060,1.000000,0.333333,0.464286,0.000000,0.0,no checking,existing paid,new car,no known savings,>=7,male single,co applicant,life insurance,none,own,unskilled resident
98,0,1,0.470588,0.114834,1.000000,1.000000,0.303571,0.000000,0.0,0<=X<200,critical/other existing credit,radio/tv,<100,>=7,male single,none,real estate,none,own,skilled

In [12]:
trainset[1][0]

,A2,A3,A8,A11,A14,A15,A1,A4,A5,A6,A7,A9,A10,A12,A13
615,0.235639,0.044643,0.008772,0.029851,0.200,0.00108,b,u,g,c,h,f,t,t,g
409,0.050075,0.008929,0.011754,0.059701,0.080,0.00008,b,u,g,q,v,f,t,f,g
367,0.386015,0.061071,0.005789,0.000000,0.200,0.00000,b,y,p,m,v,f,f,f,s
108,0.408571,0.080357,0.350877,0.000000,0.088,0.00000,b,y,p,x,h,t,f,t,g
272,0.065113,0.241071,0.001404,0.000000,0.070,0.00000,b,y,p,m,v,f,f,f,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,0.572632,0.107143,0.052632,0.000000,0.090,0.00004,b,y,p,ff,ff,f,f,f,g
477,0.382256,0.089286,0.350877,0.000000,0.100,0.00000,b,y,p,i,h,f,f,t,s
27,0.644060,0.660714,0.526316,0.253731,0.000,0.00000,b,u,g,d,bb,t,t,t,g
507,0.165414,0.107143,0.064386,0.283582,0.000,0.00500,a,u,g,q,h,t,t,f,g
661,0.241805,0.125000,0.005789,0.000000,0.108,0.00000,b,u,g,c,v,f,f,f,g

In [11]:
valset[1][0]

,A2,A3,A8,A11,A14,A15,A1,A4,A5,A6,A7,A9,A10,A12,A13
413,0.403459,0.053571,0.000000,0.000000,0.150,0.00000,b,u,g,i,bb,f,f,f,s
573,0.773233,0.500000,0.000000,0.164179,0.000,0.01400,a,u,g,ff,ff,t,t,t,g
541,0.436090,0.107143,0.035088,0.000000,0.000,0.00200,b,u,g,i,bb,t,f,f,g
88,0.304511,0.160714,0.035088,0.000000,0.120,0.00000,b,u,g,aa,v,t,f,t,g
135,0.523759,0.232143,0.210526,0.000000,0.175,0.00000,b,u,g,q,h,t,f,t,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,0.144060,0.415179,0.029298,0.000000,0.080,0.00300,b,y,p,w,v,t,f,t,g
339,0.214286,0.107143,0.026316,0.000000,0.150,0.00067,b,u,g,w,v,f,f,t,g
570,0.687970,0.098214,0.061404,0.074627,0.030,0.00058,b,u,g,w,v,t,t,t,g
122,0.165414,0.446429,0.052632,0.179104,0.060,0.00567,a,u,g,aa,v,t,t,t,g
597,0.116541,0.214286,0.087719,0.044776,0.040,0.00918,a,u,g,aa,v,t,t,f,g

In [13]:
# start training, take the validation loss on average for evaluation
transtab.train(model, trainset, valset, **training_arguments)

Epoch:   2%|▏         | 1/50 [00:02<02:06,  2.58s/it]

epoch: 0, test val_loss: 0.624814
epoch: 0, train loss: 6.6128, lr: 0.000100, spent: 2.6 secs

Epoch:   4%|▍         | 2/50 [00:03<01:20,  1.68s/it]

epoch: 1, test val_loss: 0.599815
epoch: 1, train loss: 6.3584, lr: 0.000100, spent: 3.6 secs

Epoch:   6%|▌         | 3/50 [00:04<01:08,  1.47s/it]

epoch: 2, test val_loss: 0.593626
epoch: 2, train loss: 6.0999, lr: 0.000100, spent: 4.8 secs

Epoch:   8%|▊         | 4/50 [00:05<00:59,  1.30s/it]

epoch: 3, test val_loss: 0.550243
epoch: 3, train loss: 5.8295, lr: 0.000100, spent: 5.9 secs

Epoch:  10%|█         | 5/50 [00:07<00:57,  1.29s/it]

epoch: 4, test val_loss: 0.527339
epoch: 4, train loss: 5.6346, lr: 0.000100, spent: 7.1 secs

Epoch:  12%|█▏        | 6/50 [00:08<00:53,  1.21s/it]

epoch: 5, test val_loss: 0.508997
epoch: 5, train loss: 5.5122, lr: 0.000100, spent: 8.2 secs

Epoch:  14%|█▍        | 7/50 [00:09<00:52,  1.22s/it]

epoch: 6, test val_loss: 0.485833
epoch: 6, train loss: 5.4925, lr: 0.000100, spent: 9.4 secs

Epoch:  16%|█▌        | 8/50 [00:10<00:48,  1.17s/it]

epoch: 7, test val_loss: 0.522051
EarlyStopping counter: 1 out of 5
epoch: 7, train loss: 5.6539, lr: 0.000100, spent: 10.5 secs

Epoch:  18%|█▊        | 9/50 [00:11<00:48,  1.18s/it]

epoch: 8, test val_loss: 0.478457
epoch: 8, train loss: 5.7431, lr: 0.000100, spent: 11.7 secs

Epoch:  20%|██        | 10/50 [00:12<00:44,  1.12s/it]

epoch: 9, test val_loss: 0.515105
EarlyStopping counter: 1 out of 5
epoch: 9, train loss: 5.4001, lr: 0.000100, spent: 12.7 secs

Epoch:  22%|██▏       | 11/50 [00:13<00:44,  1.15s/it]

epoch: 10, test val_loss: 0.473948
epoch: 10, train loss: 5.3141, lr: 0.000100, spent: 13.9 secs

Epoch:  24%|██▍       | 12/50 [00:14<00:42,  1.13s/it]

epoch: 11, test val_loss: 0.473868
epoch: 11, train loss: 5.2753, lr: 0.000100, spent: 15.0 secs

Epoch:  26%|██▌       | 13/50 [00:16<00:42,  1.15s/it]

epoch: 12, test val_loss: 0.470765
epoch: 12, train loss: 5.1095, lr: 0.000100, spent: 16.2 secs

Epoch:  28%|██▊       | 14/50 [00:17<00:39,  1.09s/it]

epoch: 13, test val_loss: 0.478281
EarlyStopping counter: 1 out of 5
epoch: 13, train loss: 5.0843, lr: 0.000100, spent: 17.1 secs

Epoch:  30%|███       | 15/50 [00:18<00:39,  1.13s/it]

epoch: 14, test val_loss: 0.454411
epoch: 14, train loss: 5.0996, lr: 0.000100, spent: 18.3 secs

Epoch:  32%|███▏      | 16/50 [00:19<00:36,  1.08s/it]

epoch: 15, test val_loss: 0.462418
EarlyStopping counter: 1 out of 5
epoch: 15, train loss: 5.0131, lr: 0.000100, spent: 19.3 secs

Epoch:  34%|███▍      | 17/50 [00:20<00:35,  1.06s/it]

epoch: 16, test val_loss: 0.453660
epoch: 16, train loss: 4.9902, lr: 0.000100, spent: 20.3 secs

Epoch:  36%|███▌      | 18/50 [00:21<00:35,  1.11s/it]

epoch: 17, test val_loss: 0.459012
EarlyStopping counter: 1 out of 5
epoch: 17, train loss: 4.9308, lr: 0.000100, spent: 21.6 secs

Epoch:  38%|███▊      | 19/50 [00:22<00:33,  1.09s/it]

epoch: 18, test val_loss: 0.442427
epoch: 18, train loss: 4.8728, lr: 0.000100, spent: 22.6 secs

Epoch:  40%|████      | 20/50 [00:23<00:33,  1.11s/it]

epoch: 19, test val_loss: 0.465714
EarlyStopping counter: 1 out of 5
epoch: 19, train loss: 4.8443, lr: 0.000100, spent: 23.8 secs

Epoch:  42%|████▏     | 21/50 [00:24<00:32,  1.12s/it]

epoch: 20, test val_loss: 0.436868
epoch: 20, train loss: 4.7778, lr: 0.000100, spent: 24.9 secs

Epoch:  44%|████▍     | 22/50 [00:26<00:31,  1.13s/it]

epoch: 21, test val_loss: 0.471365
EarlyStopping counter: 1 out of 5
epoch: 21, train loss: 4.7832, lr: 0.000100, spent: 26.1 secs

Epoch:  46%|████▌     | 23/50 [00:26<00:28,  1.05s/it]

epoch: 22, test val_loss: 0.449551
EarlyStopping counter: 2 out of 5
epoch: 22, train loss: 4.9756, lr: 0.000100, spent: 26.9 secs

Epoch:  48%|████▊     | 24/50 [00:27<00:27,  1.06s/it]

epoch: 23, test val_loss: 0.427329
epoch: 23, train loss: 4.8811, lr: 0.000100, spent: 28.0 secs

Epoch:  50%|█████     | 25/50 [00:28<00:25,  1.01s/it]

epoch: 24, test val_loss: 0.564131
EarlyStopping counter: 1 out of 5
epoch: 24, train loss: 4.9764, lr: 0.000100, spent: 28.9 secs

Epoch:  52%|█████▏    | 26/50 [00:29<00:24,  1.00s/it]

epoch: 25, test val_loss: 0.459227
EarlyStopping counter: 2 out of 5
epoch: 25, train loss: 4.9857, lr: 0.000100, spent: 29.9 secs

Epoch:  54%|█████▍    | 27/50 [00:30<00:22,  1.04it/s]

epoch: 26, test val_loss: 0.580818
EarlyStopping counter: 3 out of 5
epoch: 26, train loss: 5.0790, lr: 0.000100, spent: 30.7 secs

Epoch:  56%|█████▌    | 28/50 [00:31<00:21,  1.03it/s]

epoch: 27, test val_loss: 0.497497
EarlyStopping counter: 4 out of 5
epoch: 27, train loss: 5.3389, lr: 0.000100, spent: 31.7 secs

Epoch:  56%|█████▌    | 28/50 [00:32<00:25,  1.16s/it]
2024-07-02 22:00:03.669 | INFO     | transtab.trainer:train:136 - load best at last from ./checkpoint
2024-07-02 22:00:03.686 | INFO     | transtab.trainer:save_model:247 - saving model checkpoint to ./checkpoint
2024-07-02 22:00:03.843 | INFO     | transtab.trainer:train:141 - training complete, cost 32.7 secs.

epoch: 28, test val_loss: 0.454385
EarlyStopping counter: 5 out of 5
early stopped

In [5]:
x_test, y_test = testset[0]
x_test

,own_telephone,foreign_worker,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents,checking_status,credit_history,purpose,savings_status,employment,personal_status,other_parties,property_magnitude,other_payment_plans,housing,job
163,1,1,0.088235,0.388357,0.333333,1.000000,0.910714,0.000000,0.0,0<=X<200,existing paid,new car,<100,unemployed,male single,none,no known property,bank,for free,high qualif/self emp/mgmt
742,1,1,0.250000,0.160119,1.000000,0.666667,0.392857,0.000000,0.0,no checking,existing paid,radio/tv,no known savings,>=7,male single,none,life insurance,none,own,skilled
762,0,1,0.117647,0.108066,1.000000,0.666667,0.089286,0.000000,0.0,<0,existing paid,radio/tv,<100,1<=X<4,male single,none,life insurance,none,own,unskilled resident
754,0,1,0.117647,0.071806,1.000000,1.000000,0.642857,0.333333,1.0,no checking,delayed previously,repairs,>=1000,>=7,male single,none,no known property,none,for free,skilled
82,0,1,0.205882,0.072521,0.666667,1.000000,0.089286,0.000000,0.0,no checking,existing paid,business,100<=X<500,1<=X<4,female div/dep/mar,none,life insurance,none,rent,unskilled resident
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,1,1,0.470588,0.250083,1.000000,0.000000,0.196429,0.000000,0.0,0<=X<200,existing paid,radio/tv,<100,<1,female div/dep/mar,none,no known property,none,own,high qualif/self emp/mgmt
672,1,1,0.823529,0.556619,0.333333,1.000000,0.410714,0.000000,0.0,no checking,existing paid,new car,<100,>=7,male single,none,life insurance,none,own,high qualif/self emp/mgmt
404,0,1,0.205882,0.145758,1.000000,1.000000,0.428571,0.000000,1.0,0<=X<200,delayed previously,new car,no known savings,>=7,male single,none,car,none,own,skilled
704,1,1,0.338235,0.125344,1.000000,0.000000,0.232143,0.000000,1.0,0<=X<200,existing paid,business,<100,<1,female div/dep/mar,none,life insurance,none,own,skilled
487,1,1,0.294118,0.192968,1.000000,1.000000,0.767857,0.000000,0.0,no checking,existing paid,new car,<100,>=7,female div/dep/mar,co applicant,no known property,none,for free,skilled

In [6]:
y_test

163    1
742    1
762    1
754    0
82     1
      ..
141    1
672    1
404    1
704    1
487    1
Length: 200, dtype: int64

In [7]:
testset[0]

(     own_telephone  foreign_worker  duration  credit_amount  \
 163              1               1  0.088235       0.388357
 742              1               1  0.250000       0.160119
 762              0               1  0.117647       0.108066
 754              0               1  0.117647       0.071806
 82               0               1  0.205882       0.072521
 ..             ...             ...       ...            ...
 141              1               1  0.470588       0.250083
 672              1               1  0.823529       0.556619
 404              0               1  0.205882       0.145758
 704              1               1  0.338235       0.125344
 487              1               1  0.294118       0.192968

      installment_commitment  residence_since       age  existing_credits  \
 163                0.333333         1.000000  0.910714          0.000000
 742                1.000000         0.666667  0.392857          0.000000
 762                1.000000         0.666667  0.089286          0.000000
 754                1.000000         1.000000  0.642857          0.333333
 82                 0.666667         1.000000  0.089286          0.000000
 ..                      ...              ...       ...               ...
 141                1.000000         0.000000  0.196429          0.000000
 672                0.333333         1.000000  0.410714          0.000000
 404                1.000000         1.000000  0.428571          0.000000
 704                1.000000         0.000000  0.232143          0.000000
 487                1.000000         1.000000  0.767857          0.000000

      num_dependents checking_status      credit_history   purpose  \
 163             0.0        0<=X<200       existing paid   new car
 742             0.0     no checking       existing paid  radio/tv
 762             0.0              <0       existing paid  radio/tv
 754             1.0     no checking  delayed previously   repairs
 82              0.0     no checking       existing paid  business
 ..              ...             ...                 ...       ...
 141             0.0        0<=X<200       existing paid  radio/tv
 672             0.0     no checking       existing paid   new car
 404             1.0        0<=X<200  delayed previously   new car
 704             1.0        0<=X<200       existing paid  business
 487             0.0     no checking       existing paid   new car

        savings_status  employment     personal_status other_parties  \
 163              <100  unemployed         male single          none
 742  no known savings         >=7         male single          none
 762              <100      1<=X<4         male single          none
 754            >=1000         >=7         male single          none
 82         100<=X<500      1<=X<4  female div/dep/mar          none
 ..                ...         ...                 ...           ...
 141              <100          <1  female div/dep/mar          none
 672              <100         >=7         male single          none
 404  no known savings         >=7         male single          none
 704              <100          <1  female div/dep/mar          none
 487              <100         >=7  female div/dep/mar  co applicant

     property_magnitude other_payment_plans   housing  \
 163  no known property                bank  for free
 742     life insurance                none       own
 762     life insurance                none       own
 754  no known property                none  for free
 82      life insurance                none      rent
 ..                 ...                 ...       ...
 141  no known property                none       own
 672     life insurance                none       own
 404                car                none       own
 704     life insurance                none       own
 487  no known property                none  for free

                            job
 163  high qualif/self emp/mgmt
 742                    skilled
 762         unskilled resident
 754                    skilled
 82          unskilled resident
 ..                         ...
 141  high qualif/self emp/mgmt
 672  high qualif/self emp/mgmt
 404                    skilled
 704                    skilled
 487                    skilled

 [200 rows x 20 columns],
 163    1
 742    1
 762    1
 754    0
 82     1
       ..
 141    1
 672    1
 404    1
 704    1
 487    1
 Length: 200, dtype: int64)

In [23]:
# make predictions on the first dataset 'credit-g'
model.load('./checkpoint')
x_test, y_test = testset[0]
ypred = transtab.predict(model, x_test,y_test)
ypred

2024-07-02 22:15:12.883 | INFO     | transtab.modeling_transtab:load:774 - missing keys: []
2024-07-02 22:15:12.884 | INFO     | transtab.modeling_transtab:load:775 - unexpected keys: []
2024-07-02 22:15:12.885 | INFO     | transtab.modeling_transtab:load:776 - load model from ./checkpoint
2024-07-02 22:15:12.902 | INFO     | transtab.modeling_transtab:load:222 - load feature extractor from ./checkpoint/extractor/extractor.json

array([0.55132884, 0.9688542 , 0.74139047, 0.91438097, 0.72752327,
       0.83235514, 0.8544672 , 0.7802751 , 0.5936112 , 0.77442586,
       0.92550695, 0.72194535, 0.9299221 , 0.90414184, 0.91537386,
       0.66817856, 0.32788673, 0.8953198 , 0.81215054, 0.9785589 ,
       0.84631515, 0.8667564 , 0.9039925 , 0.9374983 , 0.7846502 ,
       0.76346284, 0.7304617 , 0.9201926 , 0.9424838 , 0.562612  ,
       0.96078557, 0.93702674, 0.9553118 , 0.8243254 , 0.81657714,
       0.9706496 , 0.8457206 , 0.86033565, 0.9001383 , 0.8140395 ,
       0.7706064 , 0.97081506, 0.64001304, 0.9553425 , 0.7530869 ,
       0.39122963, 0.91449165, 0.73835313, 0.9403639 , 0.909312  ,
       0.6456375 , 0.8569317 , 0.92745215, 0.87642866, 0.83203894,
       0.952781  , 0.9056405 , 0.9602728 , 0.91901994, 0.82089055,
       0.874648  , 0.9379722 , 0.9275334 , 0.9742843 , 0.86242783,
       0.7749155 , 0.9263223 , 0.7867591 , 0.91992515, 0.84096676,
       0.7019068 , 0.90363497, 0.97327733, 0.81342083, 0.9237029 ,
       0.6953806 , 0.9388086 , 0.8897059 , 0.8170029 , 0.6255116 ,
       0.90392494, 0.5438092 , 0.9576674 , 0.7649096 , 0.9772724 ,
       0.9207408 , 0.7251252 , 0.94301397, 0.7908518 , 0.9398231 ,
       0.849382  , 0.94769186, 0.92061317, 0.88604873, 0.69894814,
       0.9593492 , 0.785892  , 0.94559515, 0.849925  , 0.91009533,
       0.8173936 , 0.70399344, 0.5001372 , 0.93828297, 0.9525468 ,
       0.9714765 , 0.7512862 , 0.50878596, 0.86698776, 0.9104131 ,
       0.36432368, 0.46029314, 0.8242335 , 0.9672619 , 0.69806445,
       0.93733436, 0.84622055, 0.7805411 , 0.670403  , 0.91134655,
       0.72385716, 0.60972476, 0.61674345, 0.8773563 , 0.79724526,
       0.7697605 , 0.98075897, 0.8950316 , 0.9717863 , 0.7591559 ,
       0.5748794 , 0.93356013, 0.8078175 , 0.96006703, 0.8725503 ,
       0.7761491 , 0.6109578 , 0.5853299 , 0.4663702 , 0.6805202 ,
       0.83198357, 0.8501449 , 0.86188376, 0.8594845 , 0.6035065 ,
       0.95264024, 0.4980934 , 0.49779043, 0.8501944 , 0.46704826,
       0.66722536, 0.85504204, 0.9339537 , 0.6452355 , 0.9497175 ,
       0.5514399 , 0.7898955 , 0.9172764 , 0.8982613 , 0.89917535,
       0.9340598 , 0.720546  , 0.9115375 , 0.8559053 , 0.8435611 ,
       0.9072098 , 0.8281734 , 0.76309496, 0.94875556, 0.45233473,
       0.49180102, 0.8152035 , 0.9427583 , 0.6290443 , 0.47012872,
       0.8684503 , 0.791415  , 0.93226653, 0.8998332 , 0.86879414,
       0.7876285 , 0.9760181 , 0.5524674 , 0.5380592 , 0.8542026 ,
       0.6400391 , 0.9437563 , 0.9454825 , 0.66618776, 0.91872704,
       0.91338944, 0.8082772 , 0.92471576, 0.71620053, 0.9050282 ,
       0.67908615, 0.8936646 , 0.8319828 , 0.5211322 , 0.6905036 ],
      dtype=float32)

In [24]:
# evaluate the predictions with bootstrapping estimate
transtab.evaluate(ypred, y_test, seed=123, metric='auc')

[0.7305952380952381]